@font-face {
  font-family: 'InterRegular';
  src:
    local('Inter'),
    url('../fonts/inter/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'InterBold';
  src:
    local('Inter'),
    url('../fonts/inter/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'InconsolataRegular';
  src:
    local('Inconsolata'),
    url('../fonts/inconsolata/Inconsolata-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'InconsolataBold';
  src:
    local('Inconsolata'),
    url('../fonts/inconsolata/Inconsolata-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'LoraRegular';
  src:
    local('Lora'),
    url('../fonts/lora/Lora-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LoraBold';
  src:
    local('Lora'),
    url('../fonts/lora/Lora-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'LoraBoldItalic';
  src:
    local('Lora'),
    url('../fonts/lora/Lora-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

.heading-l--sans {
  font-family: 'InterBold', sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-feature-settings:
    'clig' off,
    'liga' off;
}

.heading-m--sans {
  font-family: 'InterRegular', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.heading-s--sans {
  font-family: 'InterRegular', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.body-m--sans {
  font-family: 'InterRegular', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.body-s--sans {
  font-family: 'InterRegular', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.heading-l--serif {
  font-family: 'LoraBold', serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.heading-m--serif {
  font-family: 'LoraRegular', serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.heading-s--serif {
  font-family: 'LoraRegular', serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.body-m--serif {
  font-family: 'LoraRegular', serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.body-s--serif {
  font-family: 'LoraRegular', serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.heading-l--mono {
  font-family: 'InconsolataBold', monospace;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.heading-m--mono {
  font-family: 'InconsolataRegular', monospace;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.heading-s--mono {
  font-family: 'InconsolataRegular', monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.body-m--mono {
  font-family: 'InconsolataRegular', monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.body-s--mono {
  font-family: 'InconsolataRegular', monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
