@font-face {
  font-family: 'InterRegular';
  src:
    local('Inter'),
    url('../fonts/inter/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'InterBold';
  src:
    local('Inter'),
    url('../fonts/inter/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'InconsolataRegular';
  src:
    local('Inconsolata'),
    url('../fonts/inconsolata/Inconsolata-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'InconsolataBold';
  src:
    local('Inconsolata'),
    url('../fonts/inconsolata/Inconsolata-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'LoraRegular';
  src:
    local('Lora'),
    url('../fonts/lora/Lora-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LoraBold';
  src:
    local('Lora'),
    url('../fonts/lora/Lora-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'LoraBoldItalic';
  src:
    local('Lora'),
    url('../fonts/lora/Lora-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
